#indexj{
    margin-top: 50px;
    text-align: center;
    background: url("https://s-media-cache-ak0.pinimg.com/736x/a5/f9/6c/a5f96c804550ab33ac6f44ea6293ff24.jpg");
    background-size: cover;
    color: white;
}
#indexj2{
    background-color: rgba(255,255,255,.2);
    max-width: 80%;
}
#profile{
    height:200px; 
    width:200px;
    margin-top: 40px;
    border: 7px solid white;
    border-radius: 20px;
    background-color: #585858;
}




#about{
    text-align: center;
}
#aboutj{
    margin-top: 50px;
    background: url("https://s-media-cache-ak0.pinimg.com/736x/a5/f9/6c/a5f96c804550ab33ac6f44ea6293ff24.jpg");
    background-size: cover;
    color: white;
}
#aboutme{
    margin-bottom: 20px;
}
#info{
    font-size: 30px;
}




#contact{
    text-align: center;
}
#contactj{
    margin-bottom: 60px;
}